@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");

:root {
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 0%);
  --Dark-Gray: hsl(0, 0%, 55%);
  --Very-Dark-Gray: hsl(0, 0%, 41%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Alata", sans-serif;
}

.margin {
  background-image: url(./images/image-hero.jpg);
  background-repeat: no-repeat;
  padding: 0 120px;
}
.home-design {
  height: 100vh;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0px;
}

.logo {
  cursor: pointer;
}

ul {
  display: flex;
  flex-direction: row;
}

ul li {
  list-style: none;
  padding: 0 10px;
}

ul li a {
  color: var(--White);
  text-decoration: none;
  font-weight: 400;
  position: relative;
}

ul li a::after {
  content: "";
  position: absolute;
  width: 0px;
  height: 2px;
  left: 22%;
  bottom: -10px;
  background: var(--White);
  display: block;
  transform: scale(0, 1);
  transition: transform 0.2s ease;
}

ul li a:hover::after {
  width: 30px;
  transform: scale(1, 1);
}
.banner-txt {
  margin: 100px 0px;
}

.banner-txt h1 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  width: 500px;
  height: 250px;
  padding: 25px;
  border: 3px solid var(--White);
  color: var(--White);
  font-size: 60px;
}

.banner-purple {
  padding: 50px 0px;
  position: relative;
}

.banner-purple .vr-txt {
  background-color: var(--White);
  position: absolute;
  width: 550px;
  padding: 80px;
  top: 40%;
  left: 50%;
}

.banner-purple .vr-txt h2 {
  font-size: 45px;
  margin: 10px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
}

.banner-purple .vr-txt p {
  color: var(--Very-Dark-Gray);
  font-size: 15px;
}

.banner-creation {
  padding: 50px 0px;
}

.banner-creation .ttl-btn {
  display: flex;
  justify-content: space-between;
}

.banner-creation .ttl-btn h2 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-size: 45px;
}

.banner-creation .ttl-btn button {
  padding: 0px 40px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  font-size: 15px;
  color: var(--Black);
  background: none;
  border: 2px solid var(--Dark-Gray);
  cursor: pointer;
  transition: 0.3s;
}

.banner-creation .ttl-btn button:hover {
  background-color: var(--Black);
  color: var(--White);
}

.banner-creation .grid-img {
  margin: 50px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.banner-creation .grid-img .gal-img {
  position: relative;
  cursor: pointer;
  margin-bottom: 20px;
  transition: 0.3s;
}

.banner-creation .grid-img .gal-img h3 {
  position: absolute;
  font-size: 35px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  top: 70%;
  left: 10%;
  color: var(--White);
  transition: 0.4s;
}

.banner-creation .grid-img .gal-img img {
  transition: 0.3s;
}

.banner-creation .grid-img .gal-img:hover img {
  opacity: 30%;
}

.banner-creation .grid-img .gal-img:hover h3 {
  color: var(--Black);
}

footer {
  padding: 40px 120px;
  background-color: var(--Black);
}

footer .logo-icons {
  display: flex;
  justify-content: space-between;
}

footer .social-icons {
  display: flex;
}
footer .social-icons li a {
  color: var(--White);
  text-decoration: none;
  font-weight: 900;
  position: relative;
}

footer .social-icons li a::after {
  content: "";
  position: absolute;
  width: 0px;
  height: 2px;
  left: -10%;
  bottom: -10px;
  background: var(--White);
  display: block;
  transform: scale(0, 1);
  transition: transform 0.2s ease;
}
footer .social-icons li a:hover::after {
  width: 30px;
  transform: scale(1, 1);
}

footer .footer-line {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

footer .footer-line .copyright-txt {
  color: var(--Dark-Gray);
}
